<%= form_tag forgot_password_link_path do %>
  <div class="content-body"><section class="flexbox-container">
    <div class="col-md-6 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
      <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
        <div class="card-header no-border pb-0">
          <div class="card-title text-xs-center">
            <%=image_tag @tenant.logo, alt: "wheelspin"%>
          </div>
          <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>We will send you a link to reset your password.</span></h6>
        </div>
        <div class="card-body collapse in">
          <div class="card-block">
            <form class="form-horizontal" action="new.html.erb" novalidate>
              <fieldset class="form-group position-relative has-icon-left">
                <%= text_field_tag "Email_id", "", required: true,class: "form-control form-control-lg input-lg", id: "user-email", placeholder: "Your Email Address" %>
                <div class="form-control-position">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
              </fieldset>
              <%= submit_tag "submit",class: "btn btn-primary btn-lg btn-block"%>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
<% end %>