			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">New Purchase Log</h4>
				</div>
				<div class="card-body collapse in">
				    <div class="card-block">
				        <%= render 'form', purchase_log: @purchase_log %>
				    </div>
				</div>
			</div>