
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a href="index.html" class="navbar-brand nav-link">
            <img alt="branding logo" src="/assets/wheel.png" data-expand="/assets/wheel.png" data-collapse="/assets/w.png" class="brand-logo img-fluid" style="width: 150px;">
            </a></li>
            <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
              <!-- <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li> -->
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img src="/assets/avatar-s-1.png" alt="avatar"><i></i></span><span class="user-name ">John Doe</span></a>

                <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i class="fa fa-user-circle" aria-hidden="true"></i> Edit Profile</a>
                  <div class="dropdown-divider"></div><a href="<%= log_out_path%>" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
